<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=stylesheet href="journey.css">

</head>
<body>
    <span>This is the journey page</span>
</body>

<script src="journey.js"></script>
</html>