<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Socials</title>
    <script src='https://cdn.plot.ly/plotly-2.32.0.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/public/social.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>

<body>    
    <img src="public/Media/fox.jpg" alt="Logo" class="logo" href="#" style="cursor: pointer;">
    
            <div class="search-container">
                <div class="navigationBar">
                    <a href="#" class="serv">
                        Services
                    </a>
                    <svg width="20" height="20" viewBox="0 -4 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <a href="#" class="comp">
                        Project
                    </a>    
                        <svg width="20" height="20" viewBox="0 -4 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    

                    <a href="#" class="blog">Blog</a>  
                    <a href="#" class="port">Contact Us</a>

                    <div class="services-dropdown">
                        <div class="services-dropdown-content">
                            <div class="services-label">
                                <h1>Services</h1>
                            </div>
                            <div class="services-dropdown-column">
                                <div class="primary-section">
                                <h2>Primary <span class="arrow">→</span></h2>
                                <div class="primary-elements">
                                    <a href="#">Stock Market Prediction</a>
                                </div>
                            </div>
                            </div>
                            <div class="services-dropdown-column">
                                <h3>Secondary <span class="arrow">→</span></h3>
                                <div class="secondary-section">
                                <div class="secondary-elements">
                                    <a href="#">Used Car Prediction</a>
                                    <a href="#">Housing Prediction</a>
                                    <a href="#">Loan Approval Prediction</a>
                                </div>
                            </div>
                            </div>
                            <img src="media/services.jpg" alt="Your Alt Text" class="service-image">
                        </div>
                    </div>
                        <div class="company-dropdown">
                        <div class="company-dropdown-content">
                            <div class="company-label">
                                <h1>Project</h1>
                            </div>
                            <div class="company-dropdown-column">
                                <h2>MORE ABOUT US</h2>
                                <a href="/#about-section">About Us</a>
                                <a href="https://github.com/XBastille/FoxTrend">GitHub</a>
                                <a href="#">Privacy Policy</a>
                                <a href="#">License</a>
                            </div>
                            <div class="company-dropdown-column">
                                <h2>SOCIAL</h2>
                                <a href="#">LinkedIn</a>
                                <a href="#">Instagram</a>
                                <a href="#">X</a>
                            </div>
                            <div class="company-dropdown-column">
                                <h2>CONTACTS</h2>
                                <a href="#">Book a Call</a>
                                <a href="#">Mail Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-container">
                <h1 class="social-title">Socials</h1>
                <div class="social-underline"></div>
                <div class="social-links">
                    <div class="social-item">
                        <div class="platform-container">
                            <i class="fab fa-linkedin"></i>
                            <div class="platform-text-container">
                                <span class="social-platform">LinkedIn</span>
                                <div class="platform-underline"></div>
                            </div>
                        </div>
                        <div class="team-members">
                            <a href="https://www.linkedin.com/in/bibhor-puhan-b36529302/" class="member-name" target="_blank">Bibhor Puhan</a>
                            <a href="https://www.linkedin.com/in/abhinab-sharma-220918280/" class="member-name" target="_blank">Abhinab Sharma</a>
                            <a href="https://www.linkedin.com/in/ayush-jha-aa7a47315/" class="member-name" target="_blank">Ayush Jha</a>
                            <a href="https://www.linkedin.com/in/nsubhaarchita/" class="member-name" target="_blank">N. Subha Archita</a>
                        </div>
                    </div>
                    <div class="social-item">
                        <div class="platform-container">
                            <i class="fab fa-instagram"></i>
                            <div class="platform-text-container">
                                <span class="social-platform">Instagram</span>
                                <div class="platform-underline"></div>
                            </div>
                        </div>
                        <div class="team-members">
                            <a href="https://www.instagram.com/_abhinv04?igsh=Zm94aWV6bGFreGVt" class="member-name" target="_blank">Abhinab Sharma</a>
                            <a href="https://www.instagram.com/ayushjha1486?igsh=OWtycDYwYTE1eDUw" class="member-name" target="_blank">Ayush Jha</a>
                            <a href="https://www.instagram.com/subha_archita?igsh=MWhpcWdsZmQwajFocQ" class="member-name" target="_blank">N. Subha Archita</a>
                        </div>
                    </div>
                    <div class="social-item">
                        <div class="platform-container">
                            <i class="fab fa-x-twitter"></i>
                            <div class="platform-text-container">
                                <span class="social-platform">(Twitter)</span>
                                <div class="platform-underline"></div>
                            </div>
                        </div>
                        <div class="team-members">
                            <a href="https://x.com/abhinab981" class="member-name" target="_blank">Abhinab Sharma</a>
                        </div>
                    </div>
                </div>
            </div>

    <footer>
            <div class="footer-links">
                <img src="public/Media/website_logo.jpg" class="foot-logo" />
                <div class="footer-block">
                    <div class="footer-title" id="Comp">Project</div>
                    <li><a style="text-decoration: none;" class="links"
                            href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKjgJRjZdghDHWgvNWjpSMmRMVVprtPGJtLpldLsvnmhRDJFvWtbKpPQpRMlGhMpkFGmJNz"
                            target="_blank" id="mail">Mail us</a></li>
                    <li><a href="https://github.com/XBastille/FoxTrend" style="text-decoration: none;" target="_blank" class="links" id="SERV">Github</a></li>
                    <li><a href="#" style="text-decoration: none;" target="_blank" class="links" id="SERV">Donate</a></li>
                </div>

                <div class="footer-block">
                    <div class="footer-title" id="more">More</div>
                    <li><a class="links" id="career">License</a></li>
                    <li><a class="links" id="privacy">Privacy Policy</a></li>
                </div>

                <div class="footer-block">
                    <div class="footer-title" id="social">Social</div>
                    <li><a class="links" style="text-decoration: none;" href="/social" target="_blank" id="linkedin">LinkedIn</a></li>
                    <li><a class="links" style="text-decoration: none;" href="/social" target="_blank" id="yt">Instagram</a></li>
                    <li><a class="links" style="text-decoration: none;" href="/social" target="_blank" id="tw">X</a></li>
                </div>
            </div>
        </footer>

    <script>
        Papa.parse("stock_data_1.csv", {
            download: true,
            header: true,
            complete: function(results) {
                const xarray = [];
                const yarray = [];
                
                results.data.forEach(row => {
                    xarray.push(row['Date']);
                    yarray.push(parseFloat(row['Close']));
                });
                
                const data=[{
                    x:xarray,
                    y:[],
                    mode:"lines",
                    type:"scatter",
                    fill:"tozeroy",
                    fillgradient:{
                        type: 'vertical',
                        colorscale: [[0,'rgba(0,0,0,0)'], [1,'rgba(96,0,147,1)']],
                    },
                    line:{
                        width:2
                    }
                }];
                const layout={
                    xaxis:{range:[xarray[0], xarray[xarray.length-1]],title:{
                        text:"Date",
                        font:{
                            color:"white"
                        }
                       },
                        tickfont:{
                            color:"white"
                        }
                    },
                    yaxis:{range:[0, Math.max(...yarray)+20],title:{text:"Prices",
                        font:{
                            color:"white"
                        }
                    },
                        tickfont:{
                            color:"white"
                        }
                    },
                    colorway:['#7834a8'],
                    plot_bgcolor:"black",
                    paper_bgcolor:"black",
                };
                
                Plotly.newPlot("myplot",data,layout);
                let i = 0; let id;
                function animate() {
                    if (i < xarray.length) {
                        Plotly.extendTraces("myplot", {
                            x: [[xarray[i]]],
                            y: [[yarray[i]]]
                        }, [0])
                        i++;
                        id = requestAnimationFrame(animate);
                    }
                }
                animate();


                const stp=document.getElementById('stp')
                stp.addEventListener('click',()=>{
                   Plotly.react("myplot",[{
                    x:xarray,
                    y:yarray,
                    mode:"lines",
                    type:"scatter",
                    fill:"tozeroy",
                    fillgradient:{
                        type: 'vertical',
                        colorscale: [[0,'rgba(0,0,0,0)'], [1,'rgba(96,0,147,1)']],
                    },
                    line:{
                        width:2
                    }
                   }],layout)
                   cancelAnimationFrame(id)
                })
            }
        });
    </script>

    <script src="/public/social.js"></script>
</body>
</html>